<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define FaineSwitcher_TargetDir=$(var.FaineSwitcher.TargetDir)?>
  <Product Id="*" Name="Faine Switcher" Language="1033" Version="1.0.0.0" Manufacturer="https://saasjet.com/" UpgradeCode="62cead8a-23fd-4389-98e4-04fb7f61f62d">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <!--<Media Id="2133" Cabinet="cab3.cab" EmbedCab="yes" />
    <Media Id="12311" Cabinet="cab1.cab" EmbedCab="yes" />-->
    <!--<MediaTemplate EmbedCab="yes" />-->

    <!-- install .net framework 4.8 -->
    <Property Id="NETFRAMEWORK48" Value="dotNetFx48Full_x86_x64.exe" />
    <Condition Message="This setup requires .NET Framework 4.8. Please install the .NET Framework then run this setup again.">
      <![CDATA[Installed OR NETFRAMEWORK48]]>
    </Condition>
    <InstallExecuteSequence>
      <Custom Action="NetFx48FullX86X64" After="InstallFinalize">NOT Installed AND NETFRAMEWORK48</Custom>
    </InstallExecuteSequence>
    <CustomAction Id="NetFx48FullX86X64" BinaryKey="dotNetFx48Full_x86_x64" ExeCommand="[NETFRAMEWORK48]" Return="ignore" />
    <Binary Id="dotNetFx48Full_x86_x64" SourceFile="dotNetFx48Full_x86_x64.exe"/>


    <!-- UI settings -->
    <UI>
      <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch FaineSwitcher" />

    <!-- include the start app action -->
    <Property Id="WixShellExecTarget" Value="[#FaineSwitch.exe]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <!--define references -->
    <Feature Id="ProductFeature" Title="FaineSwitcher" Level="1">
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesctop" />
      <ComponentRef Id="FaineSwitch.exe" />
      <ComponentRef Id="DebugFiles" />
      <ComponentRef Id="FaineSwitch.exe.config" />
    </Feature>

    <!--define path references -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="FaineSwitcher" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="My Application Name"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <!-- shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Faine Switch"
                  Description="FaineSwitch"
                  Target="[#FaineSwitch.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\MyCompany\FaineSwitch" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesctop" Guid="73982b5d-04c1-4f76-8a7a-a71db62c34cf">
        <Shortcut Id="ApplicationShortcutDesctopShortcut"
                  Name="Faine Switch"
                  Description="FaineSwitch"
                  Target="[#FaineSwitch.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\MyCompany\FaineSwitch" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>


    <!-- file registration -->
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      

      <Component Id="DebugFiles" Guid="5c0a3e22-d781-4394-80a9-8e2723486ce8">
        <File Source="$(var.FaineSwitcher_TargetDir)**/*" />
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
