---
---

@import "{{ site.theme }}";
body { 
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:16px;
}
.wrapper { 
    width:100%;
    section {
        width:70%;
    }
}
header {
    ul {
        border-radius:0px;
        height:50px;
        width:269px;
    }
    li {
        height:50px;
    }
    ul li a:hover {
        border-radius:0px;
        height:90%;
        background:#8b5fff;
        color:#fff;
    }
}
